
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:#edc5d6;
  color: #b024c9;
}

.left-col, .rights-col {
  flex: 1;
}

.social-media a {
  margin-right: 10px;
  color: rgb(211, 61, 139);
  font-size: 20px;

 
  text-decoration: none;

  &:hover {
    color: #007bff;
  }
}


.rights-text {
  margin-top: 10px;
}

.border {
  border: 1px solid rgb(67, 62, 62);
  padding: 10px;
}

.txtb {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #e57397;
  color: white;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #e4dfe3;
  }
}

.fa-facebook {
  background-image: url(/assets/icono/facebook.png);
}

.fa-square-instagram {
  background-image: url(/assets/icono/instagram.png);
}

.fa-square-whatsapp {
  background-image: url(/assets/icono/whatsapp.png);
}
