body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.navbar {
  background-color: #f8c9dc;
}

.nav-link {
  color: #b024c9;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 18px;
  padding: 15px;

  &:hover {
    color: #550a55;
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: 18px;
}

.banner-1 {
  height: 27vh;
  font-size: 28px;
  background-image: url(/assets/multimedia/images-banner-desktop.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 10px;
}

.nosotros {
  text-align: justify;
}

.img-fluid {
  max-width: 150%;
  height: auto;
}

.large-image {
  width: 150%;
  height: auto;
}



@media (max-width: 992px) {
  .content {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 100%;
  }
}



