$color-titulos:black,

$primary-color #f5a4da;
$secondary-color: #ffffff;
$background-color: #d765b5;
$text-color: #ffffff;
$btn-outline-color: #f5a4da;

@font-face {
    font-family: 'Damion';
    src: url('/assets/fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }